<div class="container">

	<h3>This page stores objects in a bunch of different ways. Saving to local storage is slightly modified from main.js / main.html</h3>

	<hr>

	<form role="form" ng-submit="addBook()">
    	<div class="row">
      		<div class="input-group">
        		<input type="text" ng-model="tome" placeholder="cool book" class="form-control">
        		<span class="input-group-btn">
          			<input type="submit" class="btn btn-primary" value="Add">
        		</span>
      		</div>
    	</div>
  	</form>
  	<p></p>

	<h3>The Best Book</h3>
	<div class="card">
	<p> {{ theBestBook.title }} </p>
	<p> {{ theBestBook.author }} </p>
	</div>

	<h3>Cool Books</h3>
	<!-- List of ToDos -->
	<div ui-sortable ng-model="awesomeThings">
		<div class="card" ng-repeat="xyz in coolObjects track by $index">
	    	<p>
	      		{{ xyz.title }}
	   		</p>
	   		<p>
	   			{{ xyz.author }}
	   		</p>
	    </div>
	</div>

	<h3>Other Books</h3>
	<div ui-sortable ng-model="awesomeThings">
		<div class="card" ng-repeat="abc in otherBooks track by $index">
			<p> {{ abc.title }} </p>
			<p> {{ abc.author }} </p>
		</div>
	</div>

	<h3>Entered Books</h3>
	<div ui-sortable ng-model="awesomeThings">
		<div class="card" ng-repeat="abc in books track by $index">
			<p> {{ abc.title }} </p>
			<p> {{ abc.author }} </p>
		</div>
	</div>




</div>
