<div class="container">

  <h3>This page takes strings and stores them in localStorage in "todos"</h3>

  <!-- ToDo input -->
  <form role="form" ng-submit="addToDo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="todo" placeholder="do something" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <p></p>

  <!-- List of ToDos -->
  <div ui-sortable ng-model="todos">
    <div class="card" ng-repeat="todo in todos track by $index">
    <p>
      {{ todo }}
    </p>
    </div>
  </div>

</div>
