<div class="container">

	<h3>This is the current working directory for working on tasks stuff. Next level stuff here. </h3>

	<hr>

	<!-- Input Form -->
	<form role="form" ng-submit="addTask()">
    	<div class="row">
      		<div class="input-group">
        		<input type="text" ng-model="newTaskTitle" placeholder="something to do?" class="form-control">
        		<span class="input-group-btn">
          			<input type="submit" class="btn btn-primary" value="Add">
        		</span>
      		</div>
    	</div>
  	</form>
  	<p></p>

  	<div class="grid grid-pad">

  		<!-- Test Tasks -->
	  	<div class="col-4-12">
	  		<h3>Test Tasks</h3>
			<div ui-sortable ng-model="testTasks">
				<div class="card" ng-repeat="abc in testTasks track by $index">
					<p> {{ abc.title }} </p>
					<button class="btn btn-primary" style="display:inline-block" data-toggle="modal" data-target="#myModal" ng-click="editTask($index)">
						<i class="fa fa-edit"></i>
					</button>
					<button class="btn btn-danger" style="display:inline-block" ng-click="deleteTask($index)">
						<i class="fa fa-trash-o"></i>
					</button>
					<button class="btn btn-success" style="display:inline-block" ng-click="deleteTask($index)">
						<i class="fa fa-check"></i>
					</button>

				</div>
			</div>
	  	</div>

	  	<!-- Entered Tasks -->
	  	<div class="col-8-12">
	  		<h3>Entered Tasks</h3>
			<div ui-sortable ng-model="tasks">
				<div class="card" ng-repeat="abc in tasks track by $index">
					<p> {{ abc.title }} </p>
					<p> {{ abc.due | date:'shortDate' }} </p>
					<p><i class="fa fa-anchor"></i>	
				</div>
			</div>
	  	</div>

  	</div>



	<div class="modal fade" id="myModal">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">
	        	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title">Edit Task</h4>
	      </div>
	      <div class="modal-body">
		      <form role="form">
		      	<h4>Title</h4>
		      	<input type="text" ng-model="editTitle" placeholder="card title" class="form-control">

		      	<h4>Task Type</h4>
		      	<select id="editTaskDropDownType" class="form-control" name="task type" value="1" ng-model="selectedTask" ng-options="tt as tt.label for tt in taskTypes">
				  
				</select>

		      </form>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary" ng-click="saveEdits()" data-dismiss="modal">Save</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>
